@font-face {
    font-family: 'Inter' , 'sans-serif';
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}
body{
    font-family: 'Inter' , 'sans-serif';
    text-align: center;
}
.one{
    color: rgb(0, 0, 0);
    font-size: 300%;
    text-decoration: underline;
}
.two{
    text-align: justify;
    font-size: 150%;
}
.three{
    color: rgb(0, 0, 0);
    font-size: 150%;
}
.last{
    width: 100%;
    text-align: center;
}